

.linha-1{
    background-color: #BB86FC;
    
    color: #ffffff;
}
.linha-2{
    background-color:#00C4B4 ;
    
    color: #ffffff;
}
.itens {
    
    background-color:#424250;
    color: #ffffff;
    text-align: center;
    
    
}

